[submodule "tools/oxlint/dmmulroy.anti-slop"]
	path = tools/oxlint/dmmulroy.anti-slop
	url = https://github.com/dmmulroy/anti-slop.git
[submodule "tools/oxlint/typeonce-dev.ai-automation"]
	path = tools/oxlint/typeonce-dev.ai-automation
	url = https://github.com/typeonce-dev/ai-automation.git
