# dependencies (bun install)
node_modules
*.lock
*-lock.yaml

# output
out
dist
*.tgz

# docs
docs

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*

# caches
.eslintcache
.cache
.*-cache
*.tsbuildinfo

# ide
.vscode
.idea

# Finder (MacOS) folder config
.DS_Store
